{% extends 'app.base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block container %}
    <h1>Hello {{user.username}}</h1>
    <h2>Tes tables de MJ</h2>
    {% for masterTable in masterTables %}
        <ul>
            <li><a href="{{ path('open_table', {id: masterTable.id}) }}">{{masterTable.name}}</a></li>
        </ul>
    {% endfor %}
    <h2>Tes tables de Joueur</h2>
    {% for table in tables %}
        <ul>
            <li>{{table.name}}</li>
        </ul>
    {% endfor %}
{% endblock %}