{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('dashboard') }}">Game Helper</a>
        <a href="{{ path('app_logout') }}"><button class="btn btn-success my-2">Se déconnecter</button></a>
    </div>
    </nav>
    {% block container %}
    {% endblock %}
{% endblock %}